body{
    background-color:rgb(14, 0, 0);
    text-align: center;
    justify-content: center;
}

h1{ 
    color: red;
}

h2{ 
    color: red;
}

h3{
    color: red;
}

h4{ 
    color: red;
    
}

* {
    padding: 0;
    margin: 0;
}

h5{ 
    color: red;
}

hr {
    background-color: rgb(34, 34, 34);
    border: 0;
    height: 2px;
}

header{ 
    background-color: rgb(7, 7, 7);
    text-align: center;
}

p{ 
    color: red;
}

.filelibrary{
    margin-top: 1em;
    background-color:  rgb(1, 1, 1)
    
}

audio{ 
    height: 25px;
     margin-top: 1em;
}

footer{
    display: flex;
    flex-direction: column;
    min-height: 9em;
    margin-top: 10px;
    background-color: black;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    box-shadow: 0px 5vw 10vw red;
}



.main{ 
    max-width: 90vw;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0px 5vw 100vw red;
}


    img {
        display: block;
        margin: 0 auto;
    display: block;
    max-width: 90vw;
    height: auto;
    }

    .break{
        margin-bottom:1em;
    }

    a{
        color: red;
    }
